.flight-detail-card{
    &_bottom{
        .airplane-icon{
            width: 48px;
            height: 48px;
            @include md{
                width: 28px;
                height: 28px;
                size: 28px;
            }
        }
    }
}
.sort-by-flight-detail{
  .ant-checkbox-checked{
    .ant-checkbox-inner{
        background: #8dd3bb;
    }
  }
}